
<mat-card id="grad" style="margin: 30px; width:700px;border-radius:3%">

  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>Cloth UID: {{cloth.uid}}</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>{{cloth.anotimp}}</mat-grid-tile>
    <mat-grid-tile>{{cloth.material}}</mat-grid-tile>
    <mat-grid-tile>{{cloth.tip_haina}}</mat-grid-tile>
    <mat-grid-tile><div class="square" style="background-color:{{cloth.color}}"></div></mat-grid-tile>
  </mat-grid-list>
</mat-card>
